@model TestProject.ViewModels.TestViewModel 
<h1>@Model.Subject</h1>
<div id="typeA">

</div>
<div id="typeB">
</div>

<div id="container">
    @foreach(var test in Model.QuestionList)
    {
        <div id="type">
            @test.Type
        </div>
        <div id="question">
            @test.Text
        </div>
        <div id="img">
           <img src="@test.ImageUrl" style="width:200px; height:140px"/>
        </div>
        <div id="answers">
            @foreach (var answer in test.AnswerList ) { 
                <div id="text">
                    @answer.Text
                </div>
            }
        </div>
    }
    <br/>
</div>