@model TestProject.ViewModels.TestViewModel
@{
    ViewData["Title"] = @ViewBag.testView.Subject;
}
<body onload="clockTimer('@ViewBag.testView.Subject');">
    <link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />
    <link rel="stylesheet" type="text/css" href="~/css/test.css" />
    <link rel="stylesheet" type="text/css" href="~/css/modal.css" />
    <h1 class="page-header text-center" name="Subject">@ViewBag.testView.Subject</h1>
    <div class="clockpage">
        <span id="clock"></span>
    </div>
    <div id="container">
        <form asp-controller="UserTest" class="tabs" style="position: relative; padding:10px 70px 100px 70px" asp-action="Test" asp-route-subject="@ViewBag.testView.Subject" asp-route-variant="@ViewBag.testView.Variant" method="post">
            @{ int i = 0;
                int k = 0;
                int a = 0;
                int b = 0;
                int num2 = 0;
                int id = 0;
                string idValue = "0";}
            <h3 style="margin-left:440px">Часть A</h3>
            @foreach (var test in @ViewBag.testView.QuestionList)

            {
                @if (test.Type == "A")
                {

                    int num = i + 1;
                    <h4 class="page-header text-center" style="margin:10px">А @num</h4>
                    <div id="question" class="osn-text">
                        @test.Text
                    </div>
                    @if (test.ImageUrl != null)
                    {
                        <div id="img">
                            <img src="@test.ImageUrl" style="width:400px; height:200px" />
                        </div>
                    }

                    <div id="answers" style="margin:30px">
                        @foreach (var answer in test.AnswerList)
                        {
                            id++;
                            idValue = "ch" + id.ToString();
                            @if (@ViewBag.testView.Subject.Equals("Русский язык") || @ViewBag.testView.Subject.Equals("Беларуская мова") || @ViewBag.testView.Subject.Equals("Английский язык"))
                            {

                                <label class="checkbox-second" style="margin-top:10px">
                                    <input type="checkbox" id="@idValue" asp-for="@Model.QuestionList[i].AnswerList[a].isChecked" value="True" />
                                    <div class="checkbox-second__text" for="@idValue" name="QuestionList[@i].AnswerList[@a].text" value="@answer.Text">@answer.Text</div>
                                </label><br />

                            }
                            else
                            {
                                <label class="checkbox-second" style="margin-top:10px">
                                    <input type="checkbox" id="@idValue" asp-for="@Model.QuestionList[i].AnswerList[a].isChecked" class="QuestionList[@i].AnswerList[@a]" value="True" onclick="return switchCheck2(this)" />
                                    <div class="checkbox-second__text" for="@idValue" name="QuestionList[@i].AnswerList[@a].text" value="@answer.Text">@answer.Text</div>
                                </label><br />

                            }

                            a++;
                        }

                    </div>
                    a = 0;
                    i++;
                }

            }
            <h3 style="margin-left:440px">Часть B</h3>
            @{ k = i;}
            @foreach (var test in @ViewBag.testView.QuestionList)
            {
                idValue = "ch" + b.ToString();
                if (test.Type == "B")
                {
                    num2++;
                    <h4 class="page-header text-center" style="margin:10px">B @num2</h4>
                    <div id="question" class="osn-text">
                        @test.Text
                    </div>
                    @if (test.ImageUrl != null)
                    {
                        <div id="img">
                            <img src="@test.ImageUrl" style="width:200px; height:140px" />
                        </div>
                    }

                    <div id="answers" style="margin:30px" class="lable-head">
                        Ответ:
                        <br />
                        <input type="text" id="@idValue" asp-for="@Model.QuestionList[k].AnswerList[0].Text">
                        @{
                            b++;

                        }
                    </div>
                    b = 0;
                    k++;
                }
            }
            <div class="form-group" style="margin-left:420px">
                <input id="save" type="submit" value="Завершить тест" class="pressed-button2" />
            </div>
        </form>
        <br />
    </div>
    <script src="~/js/time.js">
    </script>
    <script src="~/js/duplicate.js">
    </script>
    @*<script src="~/js/modal.js">
    </script>
    <script>
        var stop = document.getElementById('save');
        (function () {
            // создаём модальное окно
            var modal = $modal();
            // при клике по кнопке #show-modal
            stop.addEventListener('click', function () {
                // отобразим модальное окно
                modal.show();
                alert("the end");
            });
        })();
    </script>*@
</body>