@{
    ViewData["Title"] = "Мои тесты";
}
@model TestProject.ViewModels.ResultViewModel
    <link rel="stylesheet" type="text/css" href="~/css/result.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />

    @if (ViewBag.results != null)
    {
        <table class="table_price" style="width:1120px !important">
            <caption>Результаты</caption>
            <tr>
                <th>Предмет</th>
                <th>Вариант</th>
                <th>Оценка</th>
                <th>Дата</th>
                <th></th>
            </tr>
            @foreach (var t in ViewBag.results)
            {
                <tr>

                    <td>@t.Subject</td>
                    <td>@t.Variant</td>
                    <td>@t.Mark%</td>
                    <td>@t.Date.ToShortDateString()</td>
                    <td>
                        <form style="float:right" asp-action="DeleteResult" asp-route-id="@t.Id" method="post">
                            @if (@t.Url!=null) {
                            <a class="pressed-button2" href="~/result/@t.Url.Name"><i class="fa fa-download"></i></a>
                            }
                            <button type="submit" class="pressed-button2">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>

                </tr>

            }
        </table>
    }

